In [1]:
import pandas as pd
import numpy as np
import matplotlib .pyplot as plt
import seaborn as sn

In [2]:
import os
os.getcwd()

'C:\\Users\\mukes\\OneDrive - burgeon\\Desktop\\mukesh python projects\\class'

## $$NUMERICAL$$    $$ANALYSIS$$

In [5]:
file_name="C:\\Users\\mukes\\Downloads\\Visadataset.csv"
visa_dataset=pd.read_csv(file_name)
visa_dataset

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [7]:
visa_dataset['prevailing_wage'].unique()

array([   592.2029,  83425.65  , 122996.86  , ..., 146298.85  ,
        86154.77  ,  70876.91  ])

In [8]:
visa_dataset['prevailing_wage'].nunique()

25454

##### $$percentile$$ $$and$$ $$quantile$$

In [13]:
visa_dataset.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [12]:
data=visa_dataset['prevailing_wage']
pr=np.percentile(data,50)
round(pr,2)

70308.21

In [22]:
data=visa_dataset['prevailing_wage']
pr=np.percentile(data,25)
round(pr,2)

34015.48

In [37]:
data=visa_dataset['prevailing_wage']
pr=np.percentile(data,75)
round(pr,2)

107735.51

In [18]:
data=visa_dataset['no_of_employees']
pr=np.percentile(data,75)
round(pr,2)

3504.0

In [27]:
np.quantile(data,0.70)

99570.364